@media \0screen {
	.dropdown-menu {
		visibility: hidden;
	}

	.open > .dropdown-menu {
		visibility: visible;
	}
}

@media (max-width: 1200px) {

    .contentEditBlock textarea.messageText {
        left: 215px;
    }
    .inputAddress {
        right: 240px;
    }
}

@media (max-width: 979px) {

    .inputAddress {
        right: 135px;
    }
    .contentEditBlock textarea.messageText {
        left: 100px;
    }
    .photoLoad{
        width: 80%;
        min-height: 242px;
    }
}


@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 768px) {

    .errorsGlobal footer .col-md-8 p {
        margin-top: 0;
        font-size: 13px;
    }
    .nonMobile{
        display: none;
    }
    .displaymobile{
        display: block;
    }
    .contentEditBlock textarea.messageText,
    .inputAddress{
        width: 100%;
        position: static;
        min-height:150px;
    }
    .inputAddress input{
        padding: 0 5px;
    }
    .photoloaderStyle .modal-dialog{
        width: 100%!important;
        margin-left: 0!important;
        left: 0!important;
    }


}

@media (max-width: 600px){


    .h1, h1{
    font-size: 28px;
    }
    h2, .h2{
        font-size: 24px;
    }

    h3, .h3{
        font-size: 22px;
    }
    h4, .h4{
        font-size: 16px;
    }
    h5, .h5{
        font-size: 18px;
    }
    .jumbotron p, p{
        font-size: 16px;
        line-height: 22px;
    }
    .jumbotron{
        padding: 10px;
    }
    .logo{
        width: 130px;
    }
    .contentEditBlock img{
        width: 200px;
    }
    .contentEditBlock,
    .paymentBlock{
        padding: 20px 0;
    }
    .btn-lg, .btn-group-lg > .btn{
        font-size: 16px;
    }
    .opaline,
    .features{
        padding: 1em ;
    }
    .cardReadyBg, .addAnotherCard{
        margin: 0;
    }



}

@media (max-width: 550px) {


}

@media (max-width: 440px) {

}

